// .abc{
//     border-style: dashed;
//     color: rgb(189,189,189);
// }
.document{
    display: flex;
    justify-content: center;
}
.heading{
    display: flex;
    padding-left: 25px;
    margin-bottom: 20px;
}
.container{
    width: 950px;
    height: 350px;
    padding-right: 70px;
    // background: rgb(255,255,255);
    background: rgb(249,249,249);

}